@use '../../assets/styles/variables' as *;
.footer {
  background-color: rgba(81, 32, 92, 0.547);
  padding: 30px 15px;
  text-align: center;
  width: 100%;
}

.copy {
  color: white;
  font-size: 16px;
  margin-bottom: 12px;
  font-family: 'Libre Franklin', sans-serif;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}